<!-- <footer class="footer">
    <p>&copy; Ahmet KÖKEN 2020</p>
</footer> -->
<!-- <footer class="footer">
    <p class="justify-content-center">&copy; Ahmet KÖKEN 2020</p>
</footer> -->
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/footer.css') }}"
/>
<footer class="footer-bs footer">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-4 col-md-4 col-xs-4 footer-nav animated fadeInUp text-center"
            >
                <ul class="list">
                    <li>
                        <a href="/">Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="/usage">Kullanım</a>
                    </li>
                </ul>
            </div>

            <div
                class="col-lg-4 col-md-4 col-xs-4 footer-brand animated fadeInLeft text-center"
            >
                <h2>Optik İşaret Tanıma</h2>
                <p></p>
                <p>© 2020 Ahmet KÖKEN, All rights reserved</p>
            </div>

            <div
                class="col-lg-4 col-md-4 col-xs-4 footer-social animated fadeInDown text-center"
            >
                <ul>
                    <li>
                        <a href="mailto:ahmetkkn07@gmail.com" target="_blank"
                            >Email</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/ahmetkkn07"
                            target="_blank"
                            >LinkedIn</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
