<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand col-xs-0" href="/">Optik İşaret Tanıma</a>
        <ul class="navbar-nav col-xs-8">
            <li class="nav-item">
                <a {% if page == 'index' %}class="active nav-link"{% endif %} class="nav-link"  href="/">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a {% if page == 'usage' %}class="active nav-link"{% endif %} class="nav-link" href="/usage">Kullanım</a>
            </li>
            {% if login == True %}
            <li class="nav-item"><a {% if page == 'account' %}class="active nav-link"{% endif %} class="nav-link" href="/account">Hesabım</a> </li>
            <li class="nav-item"><a {% if page == 'logout' %}class="active nav-link"{% endif %} class="nav-link" href="/logout">Çıkış Yap</a> </li>
            {% endif %} 
            {% if login == False %} 
            <li class="nav-item"><a {% if page == 'register' %}class="active nav-link"{% endif %} class="nav-link" href="/register">Kaydol</a></li>
            <li class="nav-item"><a {% if page == 'login' %}class="active nav-link"{% endif %} class="nav-link" href="/login">Giriş Yap</a></li>
            {% endif %} 
        </ul> 
    </div>
</nav>
<br /><br />
