{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-xs-12 text-center">
            <h2>Cevap Anahtarını Yükleyin</h2>
            {% include "includes/error.html" %}
            <form
                class="justify-content-between"
                method="post"
                action="/uploadAnswerKey"
                enctype="multipart/form-data"
            >
                <div class="imgUp">
                    <div class="imagePreview" id="preview">
                        <input
                            id="answerKey"
                            class="uploadFile img choose"
                            type="file"
                            name="file"
                            autocomplete="off"
                            required
                        />
                        <button class="choose btn btn-gray" type="submit">
                            <i class="fas fa-cloud-upload-alt"></i>&nbsp;Yükle
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
